<link rel="stylesheet" href="/assets/css/white.css">
<div class="whole">
<div>
    <h1>タスク状況</h1>
    <div class="task_box">
        <!--each回す-->
        <% tasks_list = Task.where(user_id: session[:user]) %>
        <% tasks_list.each do |task_list| %>
        <div class="task">
            <a class="input_task"><%= task_list.task_name %></a>
            <a class="input_minutes"><%= task_list.minutes %></a>
            <!--Doneを押したらチェックに変更したい-->
            <% if Status.find_by(user_id: session[:user], task_id: task_list.id) %>
                <form action='/prep/<%= task_list.id %>/clear' method='post'>
                    <input type="submit" value="　ν　" class="above_button button">
                </form>
            <% else %>
                <form action='/prep/<%= task_list.id %>/done' method='post'>
                    <input type="submit" value="Done"  class="above_button button">
                </form>
            <% end %>
        </div>
        <% end %>
    </div>
</div>
<div class="time">
   
    <!--現在時刻の表示-->
    <script type="text/javascript">
        function twoDigit(num) {
            let ret;
            if( num < 10 ) 
            ret = "0" + num; 
            else 
            ret = num; 
            return ret;
        }
        function showTime() {
            var now = new Date();
            var nowhour = twoDigit( now.getHours() );
            var nowminutes = twoDigit( now.getMinutes() );
            var nowseconds = twoDigit( now.getSeconds() );
            
            let msg = "現在時刻：" + nowhour + ":" + nowminutes ;
            document.getElementById("timenow").innerHTML = msg;
         }
         setInterval('showTime()',1000);
    </script>
    <p id="timenow"></p>

    <p>出発推定時刻　<%= time_arrivehour session[:user] %></p>
    <p>到着推定時刻　<%= time_depart session[:user] %></p>

</div>
<div class="comment_box">
    <h3>コメント</h3>
    <% Comment.where(user_id: session[:user]).each do |comment|%>
    <div class="comm">
        <% hour = comment.time.hour.to_i + 9 %>
        <% if hour > 24 %>
            <% hour = hour % 24 %>
        <% end %>
        <% min = comment.time.min %>
        <% if min < 10 %>
            <% min = "0" + min.to_s %>
        <% end %>
        
        <p class="comment_text"><%= User.find(comment.commenter_id).display_name %>　　　　　<%= comment.time.mon %>/<%= comment.time.day %>　<%= hour %>:<%= min %></p>
        <% unless comment.comment.empty? %>
            <div class="says">
                <p><%= comment.comment %></p>
            </div>
        <% end %>
        
        <% if comment.reaction==true %>
            <img src="/assets/images/heart2.png" class="mini">
        <% else %>
            <form action='/<%= comment.id %>/permit' method='post'>
                <input type="image" src="/assets/images/heart1.png" class="mini">
            </form>
        <% end %>
        
        
        <% unless comment.img.empty? %>
            <img src="<%= comment.img %>" class="photo">
        <% end %>
    </div>
    <% end %>
</div>

<div id="bottom2">
<form action='/prep/fin' method='post' class="go">
    <input type='submit' value="出発" class="button go">
</form>
<form action='/prep/fin' method='post' class="go">
    <input type='submit' value="準備に戻る" class="button go">
</form>
</div>
</div>

<!--find_by使ってるから複数登録されちゃうとまずい-->