<link rel="stylesheet" href="/assets/css/white.css">
<div class="whole">
<div>
    <h1><%= @the_user.display_name %>さんのタスク状況</h1>

    <% if Friend.find_by(following_id: session[:user], followed_id: @the_user.id) %>
        <form action='/<%= @the_user.id %>/unfollow' method='post'>
            <input type="submit" value="フォローをやめる" class="prfbutton">
        </form>
    <% else %>
        <form action='/<%= @the_user.id %>/follow' method='post'>
            <input type="submit" value="フォローする" class="prfbutton">
        </form>
    <% end %>
    <!--重複回避しなきゃまずい-->
</div>

<div class="task_box">
    <!--タスク取得してeach回す-->
    <% tasks = Task.where(user_id: @the_user.id) %>
    <% tasks.each do |task|%>
        <div>
            <a class="input_task"><%= task.task_name %></a>
            <a class="input_minutes"><%= task.minutes %></a>
            <% if Status.find_by(task_id: task.id, user_id: @the_user.id).nil? %>
                <a class="sta sta1">will</a>
            <% else %>
                <a class="sta">done</a>
            <% end %>
        </div>
    <% end %>
    
</div>

<div id="time_box">
    <% if Need.where(user_id: @the_user.id).nil? or Need.where(user_id: @the_user.id).empty? %>
        <p>まだ準備開始していません</p>
    <% else %>
        <% dt = Need.where(user_id: @the_user.id).last.pushtime %>
        <p>直近の準備開始時刻　　<%= dt.mon %>/<%= dt.day %>　<%= dt.hour.to_i + 9 %>:<%=dt.min %></p>
        
        <p>出発推定時刻　<%= time_arrivehour @the_user.id %></p>
        <p>到着推定時刻　<%= time_depart @the_user.id %></p>

    <% end %>
</div>

<div class="comment_box">
    <h3>コメント</h3>
    <% Comment.where(user_id: @the_user.id).each do |comment|%>
    <div class="comm">
        <% hour = comment.time.hour.to_i + 9 %>
        <% if hour > 24 %>
            <% hour = hour % 24 %>
        <% end %>
        <% min = comment.time.min %>
        <% if min < 10 %>
            <% min = "0" + min.to_s %>
        <% end %>
        
        <p class="comment_text"><%= User.find(comment.commenter_id).display_name %>　　　　　<%= comment.time.mon %>/<%= comment.time.day %>　<%= hour %>:<%= min %></p>
        <% unless comment.comment.empty? %>
            <div class="says">
                <p><%= comment.comment %></p>
            </div>
        <% end %>
        
        <% if comment.reaction==true %>
            <img src="/assets/images/heart2.png" class="mini">
        <% else %>
            <img src="/assets/images/heart1.png" class="mini">
        <% end %>
        
        <% unless comment.img.empty? %>
            <img src="<%= comment.img %>" class="photo">
        <% end %>
    </div>
    <% end %>
</div>




<div id="comment_input">
    <form action='/<%= @the_user.id %>/comment' method='post' enctype="multipart/form-data">
        <input type="text" name="comment" id="comment" placeholder="コメントを入力">
        <label for="fileElem"><img src="/assets/images/send_picture.png" class="com"></label>
        <input type="file" name="file" id="fileElem" accept="image/png, image/jpeg" style="display:none" onChange="imgPreView(event)">
        <input type="image" src="/assets/images/send_icon.png" class="com" id="send">
    </form>

</div>
    <div id="preview"></div>
    <script type="text/javascript">
        function imgPreView(event) {
          var file = event.target.files[0];
          var reader = new FileReader();
          var preview = document.getElementById("preview");
          var previewImage = document.getElementById("previewImage");
   
          if(previewImage != null) {
            preview.removeChild(previewImage);
          }
          reader.onload = function(event) {
            var img = document.createElement("img");
            img.setAttribute("src", reader.result);
            img.setAttribute("id", "previewImage");
            preview.appendChild(img);
          };
 
          reader.readAsDataURL(file);
        }
    </script>
</div>