<link rel="stylesheet" href="/assets/css/white.css">
<div class="whole">
    <div class="content">
    <h1>ユーザー検索</h1>
    <form action='/search' method='post' id="notfound">
        <input type="text" name="search_name" id="user_name" placeholder="usernameまたはアカウント名">
        <input type="submit" value="検索" class="button">
    </form>
    
    <div id="result" class="user_box">
        <% if @results.nil? or @results.blank? %>
            <p>ユーザーIDが見つかりません</p>
        <% else %>
            <% @results.each do |result| %>
            <div class="follow">
                <a href="/search/<%= result.id %>" class="link"></a>
                <h4 href="/search/<%= result.id %>"><%= result.display_name %></h4>
                <a href="/search/<%= result.id %>"><%= result.user_name %></a>
            </div>
            <% end %>
        <% end %>
    </div>
    <div id="follow" class="comment_box">
        <h3>フォロー中</h3>
        <!-- フォローしている人のuser_idの配列をfollowingsに代入-->
        <% if Friend.find_by(following_id: session[:user]).nil? %>
            <p>フォロー中のユーザーはいません</p>
        <% else %>
            <% User.find(session[:user]).followeds.each do |follow|%>
            <div class="follow" >
                <a href="/search/<%= follow.id %>" class="link"></a> 
                <h4 href="/search/<%= follow.id %>"><%= follow.display_name %></h4>
                <a href="/search/<%= follow.id %>"><%= follow.user_name %></a>
            </div>
            <% end %>
        <% end %>
    </div>
    </div>
</div>